@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #FFF9F2;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.navbar {

}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 160px;
}

.popover {
    max-width: 250px;
    font-family: 'Montserrat', sans-serif;
}
.popover .list-unstyled {
    padding-left: 0;
}
.popover a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 8px 15px;
}
.popover a:hover {
    background-color: #f8f9fa;
}

.dropdown-menu .dropdown-toggle {
    padding-right: 2em;
}
.dropdown-menu .dropdown-toggle::after {
    margin-left: 0.5rem;
}